[Unit]
Description=Job Hunter Bot Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/job-hunter/Linkedin-Discord-Job-Scraper-Bot
ExecStart=/usr/bin/python3.11 bot.py --run-now
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 